DATABASE_URL=
JWT_SECRET=
UPLOAD_DIR=./uploads
POLICY_UPLOAD_DIR=./uploads/policies
CIRCULAR_UPLOAD_DIR=./uploads/circulars
AML_TRAINING_UPLOAD_DIR=./uploads/aml-training-materials
CREDIT_TRAINING_UPLOAD_DIR=./uploads/credit-training-materials
